<ion-content padding>
	<button ion-button clear (click)="back()">
		<ion-icon name="arrow-round-back"></ion-icon>
	</button>

	<h1>Unlock</h1>

	<ion-grid>
		<!-- Row that displays each number of user input -->
		<ion-row>
			<ion-col>
				<div class="passIn">{{passIn.length > 0 ? passIn.substring(0, 1) : ' '}}</div>
			</ion-col>
			<ion-col>
				<div class="passIn">{{passIn.length > 1 ? passIn.substring(1, 2) : ' '}}</div>
			</ion-col>
			<ion-col>
				<div class="passIn">{{passIn.length > 2 ? passIn.substring(2, 3) : ' '}}</div>
			</ion-col>
			<ion-col>
				<div class="passIn">{{passIn.length > 3 ? passIn.substring(3, 4) : ' '}}</div>
			</ion-col>
		</ion-row>

		<!-- Numpad -->
		<ion-row>
			<ion-col *ngFor="let num of row1">
				<button ion-button class="center" (click)="add(num)">{{num}}</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col *ngFor="let num of row2">
				<button ion-button class="center" (click)="add(num)">{{num}}</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col *ngFor="let num of row3">
				<button ion-button class="center" (click)="add(num)">{{num}}</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<!-- empty col for formatting purposes -->
			</ion-col>
			<ion-col>
				<button ion-button class="center" (click)="add(0)">0</button>
			</ion-col>
			<ion-col>
				<!-- Deletes last number from user input -->
				<button ion-button clear class="center" (click)="delete()">
					<ion-icon name="arrow-round-back"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
