<ion-content>
<ion-title>Profile</ion-title>
<button ion-button clear (click)="closeModal()">Back</button>

<ion-content padding *ngIf="!isAuthenticated()">
	<button ion-button clear (click)="auth.login()">Login</button>
	<button ion-button clear (click)="checkAuthenticated()">hello</button>
</ion-content>

<ion-content padding *ngIf="isAuthenticated()">
	<ion-card>
		<ion-item *ngIf="auth.user">
			<ion-avatar item-left>
				<img src="{{ auth.user.picture }}">
			</ion-avatar>
			<h2>{{ auth.user.nickname }}</h2>
			<p>{{ auth.user.email }}</p>
		</ion-item>
	</ion-card>
	<button ion-button clear (click)="auth.logout()">Logout</button>
</ion-content>

</ion-content>