<ion-content padding>
	<ion-title>Boards</ion-title>
	<p class="boardLabel">My Boards</p>
	<ion-list>
		<ng-container *ngFor="let board of slothBoards()">

			<ng-template #normalBoard>
				<button ion-item (click)="openBoard(board)">
					{{board.Name}}
					<button ion-button clear item-right (click)="deleteBoard(board)"><ion-icon name="trash"></ion-icon></button>
					<button ion-button clear item-right (click)="editBoardActive(board)"><ion-icon name="create"></ion-icon></button>
					<button ion-button clear item-right (click)="shareBoard(board)"><ion-icon name="share"></ion-icon></button>
				</button>
			</ng-template>

			<ng-container *ngIf="board.IsEditActive; else normalBoard">
			<ion-item text-wrap class="todoItem">
				<ion-input [(ngModel)]="board.Name"></ion-input>
			</ion-item>
			<button ion-button clear (click)="onEditBoardSubmit(board)">Done</button>
			</ng-container>

		</ng-container>
	</ion-list>

	<p class="boardLabel">Shared With Me</p>
	<ion-list>
		<ng-container *ngFor="let board of slothSharedBoards()">
			<ng-template #normalBoard>
				<button ion-item (click)="openBoard(board)">
					{{board.Name}}
					<button ion-button clear item-right (click)="deleteSharedBoard(board)"><ion-icon name="trash"></ion-icon></button>
					<button ion-button clear item-right *ngIf="!board.IsViewOnly" (click)="editBoardActive(board)"><ion-icon name="create"></ion-icon></button>
					<button ion-button clear item-right (click)="shareBoard(board)"><ion-icon name="share"></ion-icon></button>
				</button>
			</ng-template>
			<ng-container *ngIf="board.IsEditActive; else normalBoard">
				<ion-item text-wrap class="todoItem">
					<ion-input [(ngModel)]="board.Name"></ion-input>
					<button ion-button clear (click)=board.Lock(todo)><ion-icon name="lock"></ion-icon></button>
				</ion-item>
				<button ion-button clear (click)="onEditSharedBoardSubmit(board)">Done</button>
			</ng-container>
		</ng-container>
	</ion-list>

	<button ion-button clear *ngIf="!showAddBoard" (click)="addBoard()">Add Board</button>

	<ng-container *ngIf="showAddBoard">
		<form (ngSubmit)="onAddBoardFormSubmit()" #addBoard>
			<ion-item>
				<ion-label for="name">Name</ion-label>
				<ion-input [(ngModel)]="newBoard.Name" name="name"></ion-input>
			</ion-item>
			<button ion-button clear type="submit">Okay</button>
		</form>
	</ng-container>
	<button ion-button clear (click)="dismissPage()">Done</button>
</ion-content>