<ion-content>
	<ion-title>Boards</ion-title>
		<ion-list>
			<ng-template #normalBoard>
				<ion-item *ngFor="let board of userBoards" (click)="openBoard(board)">
					{{board.Name}}
					<button ion-button clear (click)="deleteBoard(board)"><ion-icon name="trash"></ion-icon></button>
				</ion-item>
			</ng-template>
			<ng-container *ngIf="editBoardActive; else normalBoard">
				<form (ngSubmit)="onEditBoardSubmit(board)" #editBoardForm>
					<ion-item>
						<ion-label>Name</ion-label>
						<ion-input [(ngModel)]="board.Name" name="boardName"></ion-input>
					</ion-item>
					<button ion-button clear type="submit">Done</button>
				</form>
			</ng-container>
		</ion-list>
		
		<ng-container *ngIf="showAddBoard">
			<form (ngSubmit)="onAddBoardFormSubmit()" #addBoard>
				<ion-item>
					<ion-label for="name">Name</ion-label>
					<ion-input [(ngModel)]="newBoard.Name" name="name"></ion-input>
				</ion-item>
				<button ion-button type="submit">Add Board</button>
			</form>
		</ng-container>
	<button ion-button clear (click)="dismissPage()">Done</button>
</ion-content>