<ion-header>
	<ion-toolbar>
		<ion-title>Manage Categories</ion-title>
		<ion-buttons start>
			<button ion-button (click)="dismiss()">
				<span ion-text color="primary" showWhen="ios">Cancel</span>
				<ion-icon name="md-close" showWhen="android, windows"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-list no-lines *ngIf="cats">
		<ng-container *ngFor="let cat of cats">
			<button ion-item [style.background-color]="ColorArray[cat.Color]" (click)="editCat(cat)">
					<span class="catText">{{cat.Name}}</span>
			</button>

			<div *ngIf="cat.EditActive">
				<form (ngSubmit)="onEditCatSubmit(cat)" #editCatForm>
					<ion-item>
						<ion-label>Name</ion-label>
						<ion-input [(ngModel)]="cat.Name" name="catName"></ion-input>
					</ion-item>
					<button ion-button clear type="submit">Done</button>
					<button ion-button (click)="deleteCat(cat)">DELETE</button>
				</form>
			</div>

		</ng-container>
		<button ion-item id="newCat" (click)="presentAddCat()">
			<span class="catText">New Category</span>
		</button>
	</ion-list>
</ion-content>