<div class="boardsContainer">
<p class="boardLabel">My Boards</p>
	<ion-list>
		<ng-container *ngFor="let board of slothBoards()">
			<button ion-item menuClose [style.background-color]="board.IsLocked ? '#dbb7b3' : ''" (click)="openBoard(board)">
				{{board.Name}}
			</button>
			<button ion-button item-right small clear *ngIf="board.IsLocked" (click)="UnlockBoard(board)">
				<ion-icon name="unlock"></ion-icon>
			</button>
		</ng-container>
	</ion-list>

<p class="boardLabel">Shared With Me</p>
	<ion-list>
		<ng-container *ngFor="let board of slothSharedBoards()">
			<button ion-item menuClose [style.background-color]="board.IsLocked ? '#dbb7b3' : ''" (click)="openBoard(board)">
				{{board.Name}}
				<button ion-button item-right small clear *ngIf="board.IsLocked" (click)="UnlockBoard(board)">
					<ion-icon name="unlock"></ion-icon>
				</button>
			</button>
		</ng-container>
	</ion-list>

	<button ion-button clear *ngIf="!isAddBoardActive" (click)="toggleBoard()">Add Board</button>

	<ng-container *ngIf="isAddBoardActive">
		<form (ngSubmit)="onAddBoardFormSubmit()" #addBoard>
			<ion-item>
				<ion-label for="name">Name</ion-label>
				<ion-input [(ngModel)]="newBoard.Name" name="name"></ion-input>
			</ion-item>
			<button ion-button clear type="submit">Okay</button>
			<button ion-button clear type="button" (click)="toggleBoard()">Nevermind</button>
		</form>
	</ng-container>
</div>
