<ion-list>
	<ion-item (click)="showId()">
		<ion-avatar item-left id="alpacatar">
			<img src="../assets/alpacatar.jpeg">
		</ion-avatar>
		<h2>Mr. Paca: {{currentUser}}</h2>
	</ion-item>
</ion-list>

<div id="catContainer">
	<ion-list no-lines>
		<ion-list-header>Filter by Category</ion-list-header>
		<button ion-button clear="true" id="addCatButton" (click)="presentAddCat()">+</button>
		<ng-container *ngIf="cats">
			<ng-container *ngFor="let cat of slothCurrentBoard()?.Categories">

				<ion-item>
					<ion-checkbox [(ngModel)]="cat.IsShown"></ion-checkbox>
					<ion-label>{{cat.Name}}</ion-label>
					<button ion-button item-right small clear (click)=editCat(cat)>
						<ion-icon name="cog"></ion-icon>
					</button>
				</ion-item>

				<div *ngIf="cat.IsEditActive">
					<form (ngSubmit)="onEditCatSubmit(cat)" #editCatForm>
						<ion-item>
							<ion-label>Name</ion-label>
							<ion-input [(ngModel)]="cat.Name" name="catName"></ion-input>
						</ion-item>

						<ion-item>
							<ion-label for="board">Board:</ion-label>
							<ion-select interface="popover" [(ngModel)]="cat.BoardId" name="boardId">
								<ion-option *ngFor="let board of slothBoards()" [value]="board.DbId">{{board.Name}}</ion-option>
							</ion-select>
						</ion-item>

						<button ion-button clear type="submit">Done</button>
						<button ion-button clear (click)="deleteCat(cat)"><ion-icon name="trash"></ion-icon></button>
					</form>
					<p>{{cat.BoardId}}</p>
				</div>

			</ng-container>
		</ng-container>
		<ion-item>
			<ion-checkbox></ion-checkbox>
			<ion-label>
				Archived
				<ion-icon name="archive"></ion-icon>
			</ion-label>
		</ion-item>
	</ion-list>
</div>