#filterId{
    color: grey;
    font-style: italic;
    font-size: small;
    padding: 0px;
    margin: 0px;
}

#details{
    background: #cddbf4;
    position: relative;
    margin: auto;
    width:90%;
    padding: 20px;
}

#toggleButton{
    display: inline-block;
    vertical-align: middle;
}

#editButton{ //restyle later
    position: absolute;
    top: 0;
    right: 0;
}

#todoInfo {
    display: inline-block;
    vertical-align: middle;
}

.detailLabel{
    font-weight: bold;
}


#addButton{
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.pRow{
    display: table;
}

.pColumn{
    display: table-cell;
}

.priorBar{
    font-weight: bolder;
}