<ion-list no-lines class="container-fluid">
    <ng-container *ngFor="let todo of todos" class="inline-todo">
        <div *ngIf="todo.Category == null ? true : todo.Category.IsShown">

            <ion-item-sliding>
                <ion-item class="todoItem">
                    <ion-checkbox></ion-checkbox>
                    <ion-input clearInput *ngIf="todo.EditActive; else default" [(ngModel)]="todo.Info"></ion-input>
                    <ng-template #default>
                        <ion-label class="todoLabel">
                            <p id="todoInfo">{{todo.Info}}</p>
                            <button ion-button id="editButton" small="true" clear="true" *ngIf="todo.DetailShown" (click)=activateEdit(todo)>edit</button>
                            <button ion-button id="toggleButton" small="true" clear="true" (click)=toggleDetail(todo)>+</button>
                        </ion-label> 
                    </ng-template>
                </ion-item>
                <ion-item-options side="left">
                    <button>       
                        {{todo.Category !== null ? todo.Category.Name : 'ADD'}}
                    </button>
                </ion-item-options>
                <ion-item-options side="right">
                    <button>Delete</button>
                </ion-item-options>
            </ion-item-sliding>
        
            <div id="details" class="container" *ngIf="todo.DetailShown">

                <ng-template #default>
                    <div class="row" (click)=onDateClicked()>
                        <div class="col-sm-3">Date:</div>
                        <div class="col-sm-9">{{todo.DateCreated}}</div>
                    </div>

                    <div class="row" (click)=onCategoryClicked()>
                        <div class="col-sm-3">Category:</div>
                        <div class="col-sm-9">{{todo.Category !== null ? todo.Category.Name : 'none'}}</div>
                    </div>

                    <div class="row" (click)=onPriorityClicked()>
                        <div class="col-sm-3">Priority:</div>
                        <div class="col-sm-9">{{todo.Priority}}</div>
                    </div>
                </ng-template>

                <!--the form!!!-->
                <ng-container *ngIf="todo.EditActive; else default">
                <form>
                    <ion-item>
                        <ion-label for="dateCreated">Date:</ion-label>
                        <ion-input id="dateCreated" value="{{todo.DateCreated}}">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label for="category">Category:</ion-label>
                        <ion-select interface="popover" placeholder="{{todo.Category.Name}}">
                            <ion-option *ngFor="let cat of cats" >{{cat.Name}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label for="priority">Priority:</ion-label>
                        <ion-select interface="popover" placeholder="{{todo.Priority}}">
                            <ion-option>Low</ion-option>
                            <ion-option>Medium</ion-option>
                            <ion-option>High</ion-option>
                        </ion-select>
                    </ion-item>

                    
                   
                </form>
                </ng-container>




            </div>
        </div>
    </ng-container>
</ion-list>

