#details{
    background: #cddbf4;
    margin: auto;
    width:90%;
    padding: 20px;
}

#toggleButton{
    display: inline-block;
    vertical-align: middle;
}

#editButton{ //restyle later
    position: absolute;
    right: 0;
    display: inline-block;
    
}

#todoInfo {
    display: inline-block;
    vertical-align: middle;
}