<ion-content no-padding>
	<button ion-button clear (click)="viewCtrl.dismiss()">back</button>
	<h3>{{sBoard?.Name}} Board: Manage Sharing</h3>

	<ion-grid no-padding>
		<ion-row>
			<ion-col>
				<p>Shared With</p>
			</ion-col>
			<ion-col col-2>
				<button ion-button clear *ngIf="!isAddReciActive" (click)="addReciActive()">+</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
					<div class="reciLabels" *ngFor="let perm of getBoardPerms()">
						<ion-row>
							<ion-col>
								<p>{{perm.User?.Email}} {{perm.IsViewOnly ? '(view only)' : '(can edit)'}}</p>
							</ion-col>
							<ion-col col-2>
								<button clear ion-button type="button" (click)="unshareBoard(perm)">
									<ion-icon name="close"></ion-icon>
								</button>
							</ion-col>
						</ion-row>
					</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<div id="addReciContainer" *ngIf="isAddReciActive">
		<ng-container *ngIf="containsEdit">
			<p class="shareLabels">Can edit</p>
			<ion-list no-lines>
        <ng-container *ngFor="let permission of sharees">
          <ion-item *ngIf="permission.IsViewOnly == false">
						{{permission.User?.Email}}
            <button clear ion-button item-right type="button" (click)="removePerm(permission)">
							<ion-icon name="close"></ion-icon>
						</button>
          </ion-item>
        </ng-container>
      </ion-list>
		</ng-container>

		<ng-container *ngIf="containsViewOnly">
			<p class="shareLabels">View only</p>
      <ion-item-group no-lines>
        <ng-container *ngFor="let permission of sharees">
        <ion-item *ngIf="permission.IsViewOnly == true">
					{{permission.User?.Email}}
          <button clear ion-button item-right type="button" (click)="removePerm(permission)">
						<ion-icon name="close"></ion-icon>
					</button>
        </ion-item>
        </ng-container>
      </ion-item-group>
		</ng-container>

    <form (ngSubmit)="shareBoard()" #shareBoardForm="ngForm">
			<ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input clearInput [(ngModel)]="newPerm.User.Email" name="email"></ion-input>
				<button clear ion-button type="button" item-right (click)="addPerm(newPerm)">
					<ion-icon name="checkmark"></ion-icon>
				</button>
      </ion-item>
      <ion-item>
        <ion-label stacked>Write a note! (optional)</ion-label>
        <ion-textarea fz-elastic [(ngModel)]="note" name="note"></ion-textarea>
      </ion-item>

      <button ion-button clear type="button" (click)="addReciActive()">Cancel</button>
      <button ion-button item-right clear type="submit">Share</button>
    </form>
	</div>
</ion-content>
