<div class="dialog">
	<h3>Share {{sBoard?.Name}}</h3>
	<button ion-button clear (click)="viewCtrl.dismiss()"><=</button>

	<!--Shared with list-->
	<ion-grid no-padding>
		<p>Shared With</p>
		<ion-row>
			<ion-col>
					<div class="reciLabels" *ngFor="let perm of getBoardPerms()">
						<ion-row>
							<ion-col>
								<p>{{perm.User?.Email}} {{perm.IsViewOnly ? '(view only)' : '(can edit)'}}</p>
							</ion-col>
							<ion-col col-2>
								<button clear ion-button type="button" (click)="unshareBoard(perm)">
									<ion-icon name="close"></ion-icon>
								</button>
							</ion-col>
						</ion-row>
					</div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<!--New share form-->
	<div id="addReciContainer">
		<ng-container *ngIf="containsEdit">
			<p class="shareLabels">Can edit</p>
			<ion-list no-lines>
        <ng-container *ngFor="let permission of sharees">
          <ion-item *ngIf="permission.IsViewOnly == false">
						{{permission.User?.Email}}
            <button clear ion-button item-right type="button" (click)="removePerm(permission)">
							<ion-icon name="close"></ion-icon>
						</button>
          </ion-item>
        </ng-container>
      </ion-list>
		</ng-container>

		<ng-container *ngIf="containsViewOnly">
			<p class="shareLabels">View only</p>
      <ion-item-group no-lines>
        <ng-container *ngFor="let permission of sharees">
        <ion-item *ngIf="permission.IsViewOnly == true">
					{{permission.User?.Email}}
          <button clear ion-button item-right type="button" (click)="removePerm(permission)">
						<ion-icon name="close"></ion-icon>
					</button>
        </ion-item>
        </ng-container>
      </ion-item-group>
		</ng-container>


    <form (ngSubmit)="shareBoard()" #shareBoardForm="ngForm">
			<ion-item>
        <ion-label for="options">{{(newPerm.IsViewOnly ? 'View only' : 'Can edit')}}</ion-label>
        <ion-toggle [(ngModel)]="newPerm.IsViewOnly" name="viewOnly"></ion-toggle>
      </ion-item>

			<ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input clearInput [(ngModel)]="newPerm.User.Email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Write a note!</ion-label>
        <ion-textarea fz-elastic [(ngModel)]="note" name="note"></ion-textarea>
      </ion-item>

      <button ion-button clear type="button" (click)="clearForm()">Cancel</button>
			<button ion-button clear item-right type="button" (click)="addPerm(newPerm)">Add</button>
			<span></span>
      <button ion-button clear type="submit">Share</button>
    </form>
	</div>
</div>
