<div class="dialog">
	<ion-grid no-padding>
		<ion-row>
			<button ion-button clear (click)="viewCtrl.dismiss()">
				<ion-icon name="arrow-round-back"></ion-icon>
			</button>
			<h3>Share {{sBoard?.Name}}</h3>
		</ion-row>

	<!--Shared with list-->
		<p class="shareHeaders">Who can see this board?</p>
		<ion-row *ngFor="let perm of getBoardPerms()">
			<ion-col>
				<p>{{perm.User?.Email}} {{perm.IsViewOnly ? '(view only)' : '(can edit)'}}</p>
			</ion-col>
			<ion-col col-2>
				<button clear ion-button type="button" (click)="unshareBoard(perm)">
					<ion-icon name="close"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="getBoardPerms()?.length == 0">
			<p>No one! :}</p>
		</ion-row>


	<!--New share form-->
	<div id="addReciContainer">
		<p class="shareHeaders">Add Collaborators</p>
		<ng-container *ngIf="containsEdit">
			<ion-list no-lines>
				<ion-list-header>Can edit</ion-list-header>
        <ng-container *ngFor="let permission of shareesEdit">
          <ion-item *ngIf="permission.IsViewOnly == false">
						{{permission.User?.Email}}
            <button clear ion-button item-right type="button" (click)="removePerm(permission)">
							<ion-icon name="close"></ion-icon>
						</button>
          </ion-item>
        </ng-container>
      </ion-list>
		</ng-container>

		<ng-container *ngIf="containsViewOnly">
			<p class="shareLabels">View only</p>
      <ion-item-group no-lines>
        <ng-container *ngFor="let permission of sharees">
        <ion-item *ngIf="permission.IsViewOnly == true">
					{{permission.User?.Email}}
          <button clear ion-button item-right type="button" (click)="removePerm(permission)">
						<ion-icon name="close"></ion-icon>
					</button>
        </ion-item>
        </ng-container>
      </ion-item-group>
		</ng-container>


    <form (ngSubmit)="shareBoard()" #shareBoardForm="ngForm">
			<ion-item>
        <ion-label for="options">{{(newPerm.IsViewOnly ? 'View only' : 'Can edit')}}</ion-label>
        <ion-toggle [(ngModel)]="newPerm.IsViewOnly" name="viewOnly"></ion-toggle>
      </ion-item>

			<ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input clearInput [(ngModel)]="newPerm.User.Email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Write a note!</ion-label>
        <ion-textarea fz-elastic [(ngModel)]="note" name="note"></ion-textarea>
      </ion-item>

      <button ion-button clear type="button" (click)="clearForm()">Cancel</button>
			<button ion-button clear item-right type="button" (click)="addPerm(newPerm)">Add</button>
			<span></span>
      <button ion-button clear type="submit">Share</button>
    </form>
	</div>

	</ion-grid>
</div>
