ion-title{
    display:inline-block;
}

#filterButton{
    display:inline-block;
    position: absolute;
    right: 0;
    top: 0; //change later
}


#details{
    background: #cddbf4;
    margin: auto;
    width:90%;
    padding: 20px;
}