<ion-header>
  <ion-navbar>
    
   <button menuToggle ion-button>Menu</button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <!--insert todo array here-->
  <todo-list></todo-list>

    <div *ngIf="addTodo; else addButton">
      <ion-item-sliding>
          <ion-item class="todoItem">
              <ion-checkbox></ion-checkbox>
              <ion-input clearInput [(ngModel)]="todo.Info"></ion-input>
          </ion-item>
          <ion-item-options side="left">
              <button>       
                  {{todo.Category == null ? 'undefined' : todo.Category.Name}}
              </button>
          </ion-item-options>
          <ion-item-options side="right">
              <button>Delete</button>
          </ion-item-options>
      </ion-item-sliding>

      <div id="details" class="container">
        <form (ngSubmit)="onFormSubmit()" #editForm="ngForm">
            <ion-item>
                <ion-label for="dateCreated">Date:</ion-label>
                <ion-datetime displayFormat="DDD MMM D, YYYY" [(ngModel)]="todo.DateCreated" name="dateCreated"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label for="category">Category:</ion-label>
                <ion-select interface="popover" [(ngModel)]="todo.Category" name="category">
                    <ion-option *ngFor="let cat of cats">{{cat.Name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label for="priority">Priority:</ion-label>
                <ion-select interface="popover"[(ngModel)]="todo.Priority" name="priority">
                    <ion-option>0</ion-option>
                    <ion-option>1</ion-option>
                    <ion-option>2</ion-option>
                </ion-select>
            </ion-item>
            <button ion-button type="submit">Done</button>
        </form>
      </div>
       
    </div>

      <ng-template #addButton>
        <button ion-button block (click)=AddTodo()>+</button>
      </ng-template>

</ion-content>
