<ion-header>
	<ion-navbar (swipe)="onSwipe($event)" (click)="revealCats()">
		<ion-grid no-padding>
			<ion-row align-items-center>
				<ion-col col-2>
					<button center menuToggle ion-button>Menu</button>
				</ion-col>
				<ion-col>
					<ion-label text-wrap text-center>
						<ion-icon name="people" *ngIf="slothCurrentBoard()?.OwnerId && slothCurrentBoard()?.SharerId && slothCurrentBoard()?.IsViewOnly != undefined">
						</ion-icon>
						<p id="currentBoardName">{{slothCurrentBoard()?.Name}}</p>
						<span id="viewLabel" *ngIf="slothCurrentBoard()?.IsViewOnly">(View only)</span>
					</ion-label>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-navbar>
</ion-header>

<!--insert todo array here-->
<ion-content>
<cat-list *ngIf="isCatRevealed"></cat-list>
<todo-list id="todolist"></todo-list>
<div id="footerBar" (swipe)="onSwipe($event)"></div>
</ion-content>
